
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloView</title>
</head>
<body>
    <div> 
        This is my first MVC program.
    </div>
    <div>
        Current Time: @ViewData["CurrentTime"];
    </div>
    <div>
        @{
            MVC5Tutorial.Models.Employee emp = (MVC5Tutorial.Models.Employee)
                ViewBag.Employee;
        }
        <b>Employee Details </b><br />

        Employee Name: @emp.FirstName @emp.LastName <br />

        Employee Salary: @emp.Salary.ToString("C")

        @*@{
            MVC5Tutorial.Models.Employee emp = (MVC5Tutorial.Models.Employee)
                ViewData["Employee"];
        }

        <b>Employee Details </b><br />
        Employee Name : @emp.FirstName @emp.LastName <br />
        Employee Salary: @emp.Salary.ToString("C")*@
    </div>
</body>
</html>
